{% extends "byro_directdebit/base.html" %}
{% load i18n %}

{% block directdebit_heading %}{% trans "Dashboard" %}{% endblock %}

{% block stylesheets %}
<style>
    .ddtree li {
        padding-left: 5px;
        padding-top: 5px;
        padding-bottom: 5px;
        border-left: 1px solid black;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        list-style-type: none;
        margin-top: 1px;
        margin-bottom: 1px;
    }
</style>
{% endblock %}

{% block directdebit_content %}

<ul class="ddtree">
    <li><b>{{all_members}}</b> members in the database, of these,
        <ul>
            <li>
                <b>{{with_due_balance}}</b> members with due balance, of these
                <ul>
                    {% if with_iban %}
                    <li><b>{{with_iban}}</b> members with IBAN, of these
                        <ul>
                            {% if with_valid_iban %}
                            <li><b>{{with_valid_iban}}</b> members with valid IBAN, of these
                                <ul>
                                    {% if with_active_sepa %}
                                    <li><b>{{with_active_sepa}}</b> members with non-deactivated SEPA direct debit, of these
                                        <ul>
                                            {% if with_bic %}
                                            <li><b>{{with_bic}}</b> members with BIC or automatically determined BIC, of these
                                                <ul>
                                                    {% if with_mandate_reference %}
                                                    <li><b>{{with_mandate_reference}}</b> members which have a SEPA mandate reference
                                                        <div class="btn-toolbar">
                                                            <a class="btn btn-info" href="{% url "plugins:byro_directdebit:finance.directdebit.list" %}?filter=eligible">Show &hellip;</a>
                                                            <button class="btn btn-primary btn-disabled" disabled>Issue direct debit &hellip;</button>
                                                        </div>
                                                    </li>
                                                    {% endif %}
                                                    {% if without_mandate_reference %}
                                                    <li class="text-danger"><b>{{without_mandate_reference}}</b> members which are missing a SEPA mandate reference
                                                        <div class="btn-toolbar">
                                                            <a class="btn btn-info" href="{% url "plugins:byro_directdebit:finance.directdebit.list" %}?filter=no_mandate_reference">Show &hellip;</a>
                                                            <button class="btn btn-secondary btn-disabled" disabled>Assign SEPA mandate reference &hellip;</button>
                                                        </div>
                                                    </li>
                                                    {% endif %}
                                                </ul>
                                            </li>
                                            {% endif %}
                                            {% if without_bic %}
                                            <li class="text-danger"><b>{{without_bic}}</b> members without BIC
                                                <div class="btn-toolbar">
                                                    <a class="btn btn-info" href="{% url "plugins:byro_directdebit:finance.directdebit.list" %}?filter=no_bic">Show &hellip;</a>
                                                </div>
                                            </li>
                                            {% endif %}
                                        </ul>
                                    </li>
                                    {% endif %}
                                    {% if with_inactive_sepa %}
                                    <li><b>{{with_inactive_sepa}}</b> members with deactivated direct debit</li>
                                    {% endif %}
                                    {% if with_bounced_sepa %}
                                    <li class="text-danger"><b>{{with_bounced_sepa}}</b> members where the direct debit bounced in the past and has been disabled
                                        <div class="btn-toolbar">
                                            <a class="btn btn-info" href="{% url "plugins:byro_directdebit:finance.directdebit.list" %}?filter=bounced">Show &hellip;</a>
                                        </div>
                                    </li>
                                    {% endif %}
                                    {% if with_rescinded_sepa %}
                                    <li class="text-danger"><b>{{with_rescinded_sepa}}</b> members where the direct debit mandate has been rescinded
                                        <div class="btn-toolbar">
                                            <a class="btn btn-info" href="{% url "plugins:byro_directdebit:finance.directdebit.list" %}?filter=rescinded">Show &hellip;</a>
                                        </div>
                                    </li>
                                    {% endif %}
                                </ul>
                            </li>
                            {% endif %}
                            {% if without_valid_iban %}
                                <li class="text-danger"><b>{{without_valid_iban}}</b> members with an invalid IBAN
                                    <div class="btn-toolbar">
                                        <a class="btn btn-info" href="{% url "plugins:byro_directdebit:finance.directdebit.list" %}?filter=invalid_iban">Show &hellip;</a>
                                    </div>
                                </li>
                            {% endif %}
                        </ul>
                    </li>
                    {% endif %}
                </ul>
            </li>
        </ul>
    </li>
</ul>

{% endblock %}
