{% extends "byro_directdebit/base.html" %}
{% load i18n %}

{% block directdebit_heading %}{% trans "Dashboard" %}{% endblock %}

{% block directdebit_content %}

{% if not creditor_id %}

<div class="card mb-4">
    <div class="card-header text-danger">
        <h2>{% trans "Error: Creditor ID not set" %}</h2>
    </div>
    <div class="card-body">
        <p>{% trans "The SEPA Direct Debit creditor identifier must be set in the configuration, before the direct debit functions can be used." %}</p>
        <a href="{% url "office:settings.base" %}#id_DirectDebitConfiguration-creditor_id" class="btn btn-primary">{% trans "Go to configuration" %}</a>
    </div>
</div>

{% endif %}


<div class="dashboard-list">
    <a class="dashboard-block" href="{% url "plugins:byro_directdebit:finance.directdebit.list" %}?filter=all">
        <h1>
            {% blocktrans trimmed count n=all_members %}
            {{ n }} member
            {% plural %}
            {{ n }} members
            {% endblocktrans %}
        </h1>
        <span class="dashboard-description">
            {% trans "with paid memberships" %}
        </span>
    </a>
    <a class="dashboard-block" href="{% url "plugins:byro_directdebit:finance.directdebit.list" %}?filter=with_due_balance">
        <h1>
            {% blocktrans trimmed count n=with_due_balance %}
            {{ n }} member
            {% plural %}
            {{ n }} members
            {% endblocktrans %}
        </h1>
        <span class="dashboard-description">
            {% trans "with due balance" %}
        </span>
    </a>
    <a class="dashboard-block" href="{% url "plugins:byro_directdebit:finance.directdebit.list" %}?filter=inactive">
        <h1>
            {% blocktrans trimmed count n=deactivated_sepa %}
            {{ n }} member
            {% plural %}
            {{ n }} members
            {% endblocktrans %}
        </h1>
        <span class="dashboard-description">
            {% trans "with deactivated direct debit" %}
        </span>
    </a>
    <a class="dashboard-block" href="{% url "plugins:byro_directdebit:finance.directdebit.list" %}?filter=eligible">
        <h1>
            {% blocktrans trimmed count n=eligible %}
            {{ n }} member
            {% plural %}
            {{ n }} members
            {% endblocktrans %}
        </h1>
        <span class="dashboard-description">
            {% trans "with due balance and correct SEPA direct debit information" %}
        </span>
    </a>
</div>

{% if creditor_id and eligible %}
<a class="btn btn-primary" href="{% url "plugins:byro_directdebit:finance.directdebit.prepare_dd" %}">{% trans "Prepare direct debit &hellip;" %}</a>
{% endif %}

{% if creditor_id and no_mandate_reference %}
<a class="btn btn-secondary" href="{% url "plugins:byro_directdebit:finance.directdebit.assign_sepa_mandates" %}">{% trans "Assign missing SEPA direct debit mandate references &hellip;" %}</a>
{% endif %}


<div class="dashboard-list">
    {% if no_iban %}
    <a class="dashboard-block block-danger" href="{% url "plugins:byro_directdebit:finance.directdebit.list" %}?filter=no_iban">
        <h1>
            {% blocktrans trimmed count n=no_iban %}
            {{ n }} member
            {% plural %}
            {{ n }} members
            {% endblocktrans %}
        </h1>
        <span class="dashboard-description">
            {% trans "with missing IBAN" %}
        </span>
    </a>
    {% endif %}
    {% if invalid_iban %}
    <a class="dashboard-block block-danger" href="{% url "plugins:byro_directdebit:finance.directdebit.list" %}?filter=invalid_iban">
        <h1>
            {% blocktrans trimmed count n=invalid_iban %}
            {{ n }} member
            {% plural %}
            {{ n }} members
            {% endblocktrans %}
        </h1>
        <span class="dashboard-description">
            {% trans "with an invalid IBAN" %}
        </span>
    </a>
    {% endif %}
    {% if no_bic %}
    <a class="dashboard-block block-danger" href="{% url "plugins:byro_directdebit:finance.directdebit.list" %}?filter=no_bic">
        <h1>
            {% blocktrans trimmed count n=no_bic %}
            {{ n }} member
            {% plural %}
            {{ n }} members
            {% endblocktrans %}
        </h1>
        <span class="dashboard-description">
            {% trans "with missing BIC" %}
        </span>
    </a>
    {% endif %}
    {% if invalid_bic %}
    <a class="dashboard-block block-danger" href="{% url "plugins:byro_directdebit:finance.directdebit.list" %}?filter=invalid_bic">
        <h1>
            {% blocktrans trimmed count n=invalid_bic %}
            {{ n }} member
            {% plural %}
            {{ n }} members
            {% endblocktrans %}
        </h1>
        <span class="dashboard-description">
            {% trans "with invalid BIC" %}
        </span>
    </a>
    {% endif %}
    {% if rescinded %}
    <a class="dashboard-block block-danger" href="{% url "plugins:byro_directdebit:finance.directdebit.list" %}?filter=rescinded">
        <h1>
            {% blocktrans trimmed count n=rescinded %}
            {{ n }} member
            {% plural %}
            {{ n }} members
            {% endblocktrans %}
        </h1>
        <span class="dashboard-description">
            {% trans "where the direct debit mandate has been rescinded" %}
        </span>
    </a>
    {% endif %}
    {% if bounced %}
    <a class="dashboard-block block-danger" href="{% url "plugins:byro_directdebit:finance.directdebit.list" %}?filter=bounced">
        <h1>
            {% blocktrans trimmed count n=bounced %}
            {{ n }} member
            {% plural %}
            {{ n }} members
            {% endblocktrans %}
        </h1>
        <span class="dashboard-description">
            {% trans "where the direct debit bounced in the past and has been disabled" %}
        </span>
    </a>
    {% endif %}
    {% if no_mandate_reference %}
    <a class="dashboard-block block-danger" href="{% url "plugins:byro_directdebit:finance.directdebit.list" %}?filter=no_mandate_reference">
        <h1>
            {% blocktrans trimmed count n=no_mandate_reference %}
            {{ n }} member
            {% plural %}
            {{ n }} members
            {% endblocktrans %}
        </h1>
        <span class="dashboard-description">
            {% trans "which are missing a SEPA mandate reference" %}
        </span>
    </a>
    {% endif %}
</div>


{% endblock %}
