{% extends "byro_directdebit/base.html" %}
{% load i18n %}

{% block directdebit_heading %}{% trans "Dashboard" %}{% endblock %}

{% block directdebit_content %}

<div class="dashboard-list">
    <a class="dashboard-block" href="{% url "office:members.list" %}?filter=all">
        <h1>
            {% blocktrans trimmed count n=all_members %}
            {{ n }} member
            {% plural %}
            {{ n }} members
            {% endblocktrans %}
        </h1>
        <span class="dashboard-description">
            {% trans "(in the database)" %}
        </span>
    </a>
    <a class="dashboard-block" href="{% url "plugins:byro_directdebit:finance.directdebit.list" %}">
        <h1>
            {% blocktrans trimmed count n=with_due_balance %}
            {{ n }} member
            {% plural %}
            {{ n }} members
            {% endblocktrans %}
        </h1>
        <span class="dashboard-description">
            {% trans "with due balance" %}
        </span>
    </a>
    <a class="dashboard-block" href="{% url "plugins:byro_directdebit:finance.directdebit.list" %}?filter=deactivated">
        <h1>
            {% blocktrans trimmed count n=deactivated_sepa %}
            {{ n }} member
            {% plural %}
            {{ n }} members
            {% endblocktrans %}
        </h1>
        <span class="dashboard-description">
            {% trans "with deactivated direct debit" %}
        </span>
    </a>
    <a class="dashboard-block" href="{% url "plugins:byro_directdebit:finance.directdebit.list" %}?filter=eligible">
        <h1>
            {% blocktrans trimmed count n=eligible %}
            {{ n }} member
            {% plural %}
            {{ n }} members
            {% endblocktrans %}
        </h1>
        <span class="dashboard-description">
            {% trans "with due balance and correct SEPA direct debit information" %}
        </span>
    </a>
</div>

<button class="btn btn-primary btn-disabled" disabled>{% trans "Issue direct debit &hellip;" %}</button>

<button class="btn btn-secondary btn-disabled" disabled>{% trans "Assign missing SEPA direct debit mandate references &hellip;" %}</button>


<div class="dashboard-list">
    {% if invalid_iban %}
    <a class="dashboard-block block-danger" href="{% url "plugins:byro_directdebit:finance.directdebit.list" %}?filter=invalid_iban">
        <h1>
            {% blocktrans trimmed count n=invalid_iban %}
            {{ n }} member
            {% plural %}
            {{ n }} members
            {% endblocktrans %}
        </h1>
        <span class="dashboard-description">
            {% trans "with an invalid IBAN" %}
        </span>
    </a>
    {% endif %}
    {% if no_bic %}
    <a class="dashboard-block block-danger" href="{% url "plugins:byro_directdebit:finance.directdebit.list" %}?filter=no_bic">
        <h1>
            {% blocktrans trimmed count n=no_bic %}
            {{ n }} member
            {% plural %}
            {{ n }} members
            {% endblocktrans %}
        </h1>
        <span class="dashboard-description">
            {% trans "with missing BIC" %}
        </span>
    </a>
    {% endif %}
    {% if rescinded %}
    <a class="dashboard-block block-danger" href="{% url "plugins:byro_directdebit:finance.directdebit.list" %}?filter=rescinded">
        <h1>
            {% blocktrans trimmed count n=rescinded %}
            {{ n }} member
            {% plural %}
            {{ n }} members
            {% endblocktrans %}
        </h1>
        <span class="dashboard-description">
            {% trans "where the direct debit mandate has been rescinded" %}
        </span>
    </a>
    {% endif %}
    {% if bounced %}
    <a class="dashboard-block block-danger" href="{% url "plugins:byro_directdebit:finance.directdebit.list" %}?filter=bounced">
        <h1>
            {% blocktrans trimmed count n=bounced %}
            {{ n }} member
            {% plural %}
            {{ n }} members
            {% endblocktrans %}
        </h1>
        <span class="dashboard-description">
            {% trans "where the direct debit bounced in the past and has been disabled" %}
        </span>
    </a>
    {% endif %}
    {% if no_mandate_reference %}
    <a class="dashboard-block block-danger" href="{% url "plugins:byro_directdebit:finance.directdebit.list" %}?filter=no_mandate_reference">
        <h1>
            {% blocktrans trimmed count n=no_mandate_reference %}
            {{ n }} member
            {% plural %}
            {{ n }} members
            {% endblocktrans %}
        </h1>
        <span class="dashboard-description">
            {% trans "which are missing a SEPA mandate reference" %}
        </span>
    </a>
    {% endif %}
</div>


{% endblock %}
