{% extends "byro_directdebit/base.html" %}
{% load bootstrap4 %}
{% load i18n %}

{% block directdebit_heading %}{% trans "Prepare and execute SEPA direct debit" %}{% endblock %}

{% block stylesheets %}
<style>
    .cards-progress .card::after {
        content: '>';
        display: block;
        position: absolute;
        font-size: 200%;
        right: -1.5ex;
        top: 30%;
    }
    .cards-progress .card:last-child::after {
        content: none;
    }
</style>
{% endblock %}

{% block directdebit_content %}
    <div class="card-deck mb-4 cards-progress">
        <div class="card">
            <div class="card-body">
                <p>{% blocktrans trimmed %}
                    Verify the member list and clean up data inconsistencies.
                {% endblocktrans %}</p>
            </div>
            <div class="card-footer">{% trans "Step 1: Verify member data" %} <span class="fa fa-check"></span></div>
        </div>
        <div class="card">
            <div class="card-body">
                <p>{% blocktrans trimmed %}
                    Select debit date and provide a notification mail template.
                {% endblocktrans %}</p>
            </div>
            <div class="card-footer text-white bg-primary">{% trans "Step 2: Prepare debit" %}</div>
        </div>
        <div class="card bg-light text-muted">
            <div class="card-body">
                <p>{% blocktrans trimmed %}
                    Transmit the direct debit order to your bank.
                {% endblocktrans %}</p>
            </div>
            <div class="card-footer">{% trans "Step 3: Transmit to bank" %}</div>
        </div>
        <div class="card bg-light text-muted">
            <div class="card-body">
                <p>{% blocktrans trimmed %}
                   Authorize the order by entering a TAN.
                {% endblocktrans %}</p>
            </div>
            <div class="card-footer">{% trans "Step 4: Confirm execution" %}</div>
        </div>
    </div>
    <form method="post">
        {% csrf_token %}
        <div class="card mb-2">
            <div class="card-header"><h4>{% trans "SEPA Direct Debit Properties" %}</h4></div>
            <div class="card-body">{% bootstrap_form form layout='horizontal' exclude='subject,text,exp_bank_types,exp_member_numbers' %}</div>
        </div>

        <div class="card mb-2">
            <div class="card-header"><h4>{% trans "Experimental Options" %}</h4></div>
            <div class="card-body">
                {% bootstrap_field form.exp_bank_types layout='horizontal' %}
                {% bootstrap_field form.exp_member_numbers layout='horizontal' %}
            </div>
        </div>

        <div class="card mb-2">
            <div class="card-header"><h4>{% trans "Notification E-Mail" %}</h4></div>
            <div class="card-body">
                {% bootstrap_field form.subject layout='horizontal' %}
                {% bootstrap_field form.text layout='horizontal' %}
            </div>
        </div>

        <button class="btn btn-success" type="submit">{% blocktrans trimmed count n=eligible %}
            Execute {{ n }} direct debit
            {% plural %}
            Execute {{ n }} direct debits
            {% endblocktrans %}</button>
    </form>

{% endblock %}
